<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.example"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Osmani Traders</name>

  <description>
      This is Osmani Traders's Website.
      Single APP accessing feature.
  </description>

  <author href="m.me/Jahidulzaid" email="jahidulzaid@PM.me">
      Jahidul Islam
  </author>

</widget>